@import url("/css/responsive.css");

/*

colors:
  #1E152A - "black"
  #FAFAFF - "white"
  #CF5C36 - "orange"
  #2A4494 - "blue"
  #08A045 - "green"
  #EA638C - "red"
*/

* {
  margin: 0;
  padding: 0;
}

body{
  font-family:Garamond, Georgia, serif;
  font-size: 2vw;
  color: #1E152A;
  background-color: #FAFAFF;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

h1{ margin: 20px 0 10px 0; font-size: 5.9vw;}
h2{ margin: 16px 0  8px 0; font-size: 3.9vw;}
h3{ margin: 12px 0  6px 0; font-size: 2.9vw;}
h4{ margin: 10px 0  5px 0; font-size: 2.4vw;}
h5{ margin:  8px 0  4px 0; font-size: 2.0vw;}
h6{ margin:  6px 0  3px 0; font-size: 1.8vw;}

nav{display: block; width: 100%; background-color: #1E152A; padding: 10px; color: #FAFAFF; font-family: "Helvetica", sans-serif;}

nav li{
  display: inline-block;
}
nav a{
  color: #FAFAFF;
}

a{ color: #1E152A; text-decoration: none; border-bottom: 1px dashed #1E152A;
}

blockquote {
    display: block;
    margin: 20px 10px 10px 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* INPUT */

input, .button {
  font-family: "Helvetica", sans-serif;
  font-size: 2vw;
}

button, input[type=button], input[type=submit], .button{
  padding: 4px 16px;
  background-color: #08A045;
  color: #FAFAFF;
  border: 1px solid #08A045;
}
