<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="no" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{page.title}} - Kjøpekontrakt bil</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <nav>
    <div class="container">
      <ul>
        <li><a href="/">Kjøpekontrakt bil</a></li>
        <li><a href="/lan.html">Lån</a></li>
        <li><a href="/forsikring.html">Forsikringer</a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
  {{ content }}
  </div>
  <div class="container">
    <footer>
      Kjøpekontrakt.no &copy; 2005 - Part of <a href="http://mimewell.com">Mimewell AS</a>
    </footer>
  </div>

  <script src="js/script.js"></script>
</body>
</html>
