<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="no" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}} - Kjøpekontrakt bil</title>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Kjøpekontrakt bil</a></li>
      <li><a href="/lan.html">Lån</a></li>
      <li><a href="/forsikringer.html">Forsikringer</a></li>
    </ul>
  </nav>

  {{ content }}



  <script src="js/script.js"></script>
</body>
</html>
